body {
    font-family: Arial;
    margin: 40px;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

form input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: blue;
    color: white;
    border: none;
}
